#title {
	background-image: url(../assets/cookup-background.png);
	height: 250px;
}

#title-text {
	line-height: 4;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000;
}

.form-box {
	padding: 50px 0;
	color: #FFFFFF;
}

p.subheader-text {
	text-align: left;
}

#matches {
	display: inline-block;
	padding-left: 50px;
	font-family: 'abeezeeregular', sans-serif;
}

.match {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120px;
	width: 128px;
	display: inline-block;
}

tr {
	vertical-align: top;
}

table {
	font-size: 10px;
	text-align: center;
	margin-bottom: 10px;
	
}

.person-button {
	border: none;
	background: none;
	color: white;
}

.border {
	border: 2px solid rgb(192, 96, 96);
}

#search-input {
	border: none;
	box-shadow: none;
}

#cookup-form {
	padding-left: 80%;
	width: 100%;
	font-family: 'abeezeeregular', sans-serif;
}

.slideLeft {
	padding-left: 50px !important;	
}

.btn {
	background-color: #F1F5DF;
	font-family: 'abeezeeregular', sans-serif;
	color: #222;
	border: none;
	margin-top: 20px;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 90px;
}

input {
	margin-top: 10px;
	margin-right: 3px;
}

#cookup-meal-form {
	overflow: auto;
	width: 100%;
	padding-top: 25px;
}

#map-container {
	height: 250px;
	width: 250px;
}

#map-form-container {
	padding-left: 40px;
	padding-bottom: 25px;
}

#makeCookupBtn {
	display: block;
	margin: 0 auto;
}