#title {
	background-image: url(../assets/pans.jpg);
	height: 250px;
	background-position: center;
	background-size: 100%;
}

#title-text {
	line-height: 4;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000;
}

.link {
	color: white;
	text-decoration: none;
	display: block;
}


.left {
	float: left;
}

.right {
	float: right;
}

.link a {
	position: relative;
/*	height: 100%;
	width: 100%;*/
	background: url(../assets/friends-cook.jpg);
}

#cookfriends-link {
	text-align: center;
	line-height: 13;
	font-size: 45px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000;
	width: 50%;
	background: url(../assets/friends-cook.jpg);
	background-size: cover;
	background-position: center;
	display: inline-block;
}

#cookup-link {
	text-align: center;

	line-height: 13;
	font-size: 45px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000;
	width: 50%;
	background: url(../assets/cookup-cook.jpg);
	background-size: cover;
	background-position: center;
	display: inline-block;
}