#title {
	background-image: url(../assets/cookwfriends-background.png);
	height: 250px;
	background-position: center;
}

#title-text {
	line-height: 4;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000;
}

.form-box {
	padding: 25px 0;
	color: #FFFFFF;
	width: 70%;
	margin: 0 auto;
}

#form-contents {
	padding: 25px 0;
	overflow: auto;
}

input {
	margin: 5px auto;
}

.btn {
	background-color: #F1F5DF;
	font-family: 'abeezeeregular', sans-serif;
	color: #222;
	border: none;
	margin-top: 0;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}

#map-field {
	padding-left: 25px;
	font-family: 'abeezeeregular', sans-serif;
}

#makeCookupBtn {
	margin: 0 auto;
	display: block;
	font-size: 16px;
}
