#title {
	background-image: url(../assets/cookup-background.png);
	height: 250px;
}

#title-text {
	line-height: 4;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000;
}

.form-box {
	padding: 50px 0;
	color: #FFFFFF;
	height: 100%;
}

#cookup-form {
	height: 100%;
}

p.subheader-text {
	text-align: left;
}

#matches {
	display: inline-block;
}

.match {
	margin: 0 5px;
	background-size: contain;
	background-position: center;
	height: 80px;
	width: 80px;
	display: inline-block;
}

tr {
	vertical-align: top;
}

table {
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

.person-button {
	border: none;
	background: none;
	color: white;
}

.border {
	border: 1px solid white;
}

input[type="text"] {
  border-radius: 3px;
  padding: 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
