#search-bar {
	position: relative;
	top: -10px;
	border: 1px solid #F1F5DF;
	border-radius: 8px;
	background-color: rgba(255,255,255,1);
	width: 830px;
	display: inline-block;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,.5);
}

#search-input {
	width: 755px;
	font-family: 'abeezeeregular', sans-serif;
	color: #BBBBBB;
	margin-left: 10px;
	padding: 0 5px;
	border:none;
	line-height: 1.6;
}

#search-icon {
	height:15px;
	padding:5px;
}

#search-btn {
	background: none;
	border: none;
	font-family: 'abeezeeregular', sans-serif;
	color: #FFFFFF;
	line-height: 38px;
	padding: 2px 10px;
	float: right;
	text-decoration: none;
}

/* LIGHT GREEN */
.a {
	background-color: #F1F5DF;
}

/* DARK GREEN */
.b {
	background-color: #676D51;
}

/* GRAY */
.c {
	background-color: #414346;
}

/* DARK GRAY */
.d {
	background-color: #2E2F28;
}

.block {
	width: 100%;
	float: left;
}

.container {
	width: 1140px;
	margin: 0 auto;
	height: 100%;
	overflow: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.half {
	width: 50%;
}

.title {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 36px;
	color: #FFF;
}

ul.search-results {
	list-style: none;
	height: auto;
}

ul.search-results a{
	color: #FFF;
	font-family: 'abeezeeregular', sans-serif;
	font-size: 20px;
}

.h-text {
	font-family: 'gobold_thinregular', sans-serif;
	text-align: center;
	margin: 0;
}

.subheader-text {
	font-family: 'gobold_thinregular', sans-serif;
	margin: 0;
	font-size: 30px;
	padding-bottom: 30px;
	text-decoration: underline;
	text-align: center;	
}

.p-text {
	font-family: 'abeezeeregular', sans-serif;
	font-size: 12px;
	margin: 0;
}

.header-text {
	color: #676D51;
}

.header {
	padding: 20px 0;
}

#nav {
	display: inline-block;
	margin-left:50px;
	position: absolute;
}

#links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#links li {
	display: inline-block;
}

#links li a {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 20px;
	text-align: left;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	padding: 12px 140px 0 3px;
}

.dropdown-menu {
	background-color: #414346;
	list-style-type: none;
	padding:5px 0;
	margin: 10px 0 0;
	position: fixed;
	display:none;
}

.dropdown-menu li {
	display: inline-block;
}

.dropdown-menu li a {
    color:#FFFFFF; 
    text-decoration:none; 
    font-family: 'gobold_thinregular', sans-serif;
  	font-size: 15px;
    padding:10px; 
    display:block;
}

#logout {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 14px;
	text-align: right;
	display: block;
	text-decoration: none;
	padding-bottom: 5px;
	position: relative;	
	top: -15px ;
}

.btn {
	border-radius: 8px;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,.5);
	padding: 5px 15px;
	margin-top: 15px;
}

.btn-container {
	clear: both;
}
