#meal-details {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 30px;
	color: #F1F5DF;
}

.meal-headers {
	width: 200px;
	text-align: right;
	padding-right: 10px;
	margin-top: 0;
}

.meal-info {
	display:inline-block;
	color: #FFF;
	margin-top: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.meal-subtitle {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 30px;
}

#meal-attendees {
	color: #676D51;
}

#meal-attendees a {
	text-decoration: none;
	font-family: 'abeezeeregular', sans-serif;
	color: #676D51;
}

#recipe-suggestions {
	color: #FFF;
}

.recipe-pic-container {
	display: inline-block;
	width:200px;
}

.recipe-pic {
	width: 200px;
	height: 125px;
	align: center;
}

.recipe-title {
	text-align: center;
	font-family: 'gobold_thinregular', sans-serif;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	height: 25px;
}

tr {
	vertical-align: top;
}

td {
	border: 1px solid #2E2F28;
	text-align: center;
}

table {
	font-size: 10px;
	text-align: left;
	margin-bottom: 10px;
	font-family: 'abeezeeregular', sans-serif;
	background-color: #414346;
}

.stats {
	font-size: 12px;
	text-align: left;
}

.icon {
	height: 15px;
	width: 15px;
	padding-right: 10px;
	text-align: left;
	margin-left: 5px;
}

.shopping-list {
	font-size: 11px;
	margin: 10px 5px 0;
	text-align: left;
}

.list-ingred {
	text-align: left;
	margin-left: 10px;
}

.slider-range {
	width: 200px;
}

.slider {
	display: inline-block;
}

#percentSliderHolder {
	padding-left: 30px;
}

.amount {
	background-color: #F1F5DF;
	color: #676D51;
	width: 100px;
	text-align: center;
}

#sortAndFilter {
	color: #FFF;
	padding: 0 0 20px 50px;
	font-family: 'gobold_thinregular', sans-serif;

}

.filter-subheader {
	font-family: 'abeezeeregular', sans-serif;
	color: #FFF;
	display: inline-block;
	padding: 10px 0;
	width: 300px;
}

.slider {
	display: block;
}

.slider-range {
	display: inline-block;
}

td a {
	text-decoration: none;
	color: #FFF;
}

.profile-pic-icon {
	height: 50px;
	width: 50px;
	border: 2px solid #676D51;
	margin: 2px 10px 2px 0;
}

#title-text {
	color: #FFF;
	size: 36px;
}

.meal-list {
	text-decoration: none;
	font-family: 'abeezeeregular', sans-serif;
	color: #FFF;
}
