#meal-details {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 30px;
	color: #F1F5DF;
}

.meal-headers {
	width: 200px;
	text-align: right;
}

.meal-info {
	display:inline-block;
	color: #FFF;
}

ul {
	list-style: none;
}

.meal-subtitle {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 30px;
}

#meal-attendees {
	color: #676D51;
}

#meal-attendees a {
	text-decoration: none;
	font-family: 'abeezeeregular', sans-serif;
	color: #676D51;
}

#recipe-suggestions {
	color: #FFF;
}