.profile-pic {
	height: 150px;
	margin: 40px auto 0;
	border: 1px #F1F5DF solid;
}

#fridge-container {
	text-align: center;
}

.about-me {
	margin: 40px 20px;
}

.name {
	font-size: 30px;
	text-align: center;
	color: #F1F5DF;
	padding-bottom: 10px;
}

.title {
	font-size: 30px;
	text-align: center;
	color: #F1F5DF;
	padding: 40px 0 0;
}

.ingred {
	background-color: rgba(255,255,255,.5);
	height: 600px;
	width: 550px;
	sizing: border-box;
	-moz-box-sizing:border-box;
   	-webkit-box-sizing:border-box;
   	 border:30px solid #676D51;
}

.about {
	height: 500px;
}

.subheader {
	text-align: left;
	padding: 5px 0 0;
	color: #F1F5DF;
}

#fridge {
	margin: 0 auto;
	width: 200px;
	height: 400px;
	background-image: url(../assets/fridge.png);
}