.Tokenize {
	width: 300px;
}


#overlay    {  
	background:rgba(0,0,0,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.profile-pic:hover #overlay {
               opacity:1;}

#edit {
	font-family:Helvetica;
    font-weight:900;
    color:rgba(255,255,255,.85);
    font-size:20px;
    text-align: center;
}


.profile-pic {
	height: 150px;
	width: 150px;
	margin: 40px auto 0;
	border: 1px #F1F5DF solid;
	background: url("../assets/people/sample-pic.png");
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin:5% auto 0 auto; 
	background-size:contain;
	border-radius:5px;
	overflow:hidden;
}

#uploadPicture {
	height: 250px;
	width: 150px;
	top: -200px;
	position: relative;
}

#fridge-container {
	text-align: center;
}

.about-me {
	margin: 40px 20px;
}

.name {
	font-size: 30px;
	text-align: center;
	color: #F1F5DF;
	padding-bottom: 10px;
}

.title {
	font-size: 30px;
	text-align: center;
	color: #F1F5DF;
	padding: 40px 0 0;
}

.ingred {
	background-color: rgba(255,255,255,.5);
	sizing: border-box;
	-moz-box-sizing:border-box;
   	-webkit-box-sizing:border-box;
   	 border:30px solid #676D51;
}

.about {
	height: 500px;
}

.subheader {
	text-align: left;
	padding: 5px 0 0;
	color: #F1F5DF;
}

#ingredientInput {
	margin: 0 auto;
	width: 400px;
	height: 102px;
	border-radius: 20px;
}

#fridgeHolder {
	margin-left: 30px;
	width: 250px !important;
	height: 300px !important;
	background-position: center;
	background-image: url(../assets/fridge.png);
	display: inline-block;
	position: relative;
	float: left;
}

#pantryHolder {
	margin-right: 30px;
	width: 200px;
	height: 300px;
	background-position: center;
	background-image: url(../assets/pantry.png);
	display: inline-block;
	position: relative;
	float: right;
}

#fridge p, #pantry p {
	font-size: .8em;
}

#fridge {
	margin-top: 23px;
	height: 230px;
	max-height: 230px;
	overflow: auto;
	padding-left: 90px;
	padding-bottom: 10px;
}

#pantry {
	margin-top: 10px;
	height: 251px;
	max-height: 251px;
	overflow: auto;
	padding-left: 36px;
	padding-bottom: 10px;
}

#ingredientInput .Token {
	text-align: center;
}

.ingredient-box {
	position: relative;
	width: 400px !important;
	height: 102px !important;
}

#fridge .ingredientName {
	background: rgba(58, 137, 255, 0.33);
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	width: 102px;
	margin: .4em 0;
}

#pantry .ingredientName {
	background: rgba(255, 201, 142, 0.33);
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	width: 124px;
	margin: .4em 0;
}

.counter {
	width: 40px;
	height: 13px;
	text-align: center;
}

.TokensContainer {
	width: 100%;
}

#updateButton {
	margin-left: 225px;
}

#cuisinesList {
	margin-left: 50px;
}