.recipe-pic {
	border: 2px solid #F1F5DF;
	margin-bottom: 50px;
}

.img-container {
	text-align: center;
}

#recipe-title {
	text-align: center;
	color: #FFF;
}

.recipe-subtitle {
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 30px;
	margin-bottom: 15px;
}

.ingredient {
	font-family: 'abeezeeregular', sans-serif;
	margin: 0;
}

#ingredients {
	padding-left: 50px;
	padding-bottom: 50px;
}

.need-to-buy {
	color: #959985;
	font-size: 11px;
}

#instructions-header {
	color: #F1F5DF;
}

#instructions {
	padding-left: 50px;
	padding-bottom: 50px;
}

.instruction {
	font-family: 'abeezeeregular', sans-serif;
	margin: 0;
	color: #F1F5DF;
}

table {
	margin: 20px 0;
	font-family: 'gobold_thinregular', sans-serif;
	font-size: 24px;
	color: #FFF;
	width: 100%;
}

td {
	width: 50%;
}

.table-right {
	text-align: right;
}


.sort-btn {
	background-color: #676D51;
	font-family: 'abeezeeregular', sans-serif;
	color: #F1F5DF;
	border: none;
	margin-top: 0;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.recipe-filter-subheader {
	margin: 0;
	font-family: 'abeezeeregular', sans-serif;

}

#servings {
	margin: 10px;
	background: floralwhite;
	width: 40px;
	-webkit-writing-mode: horizontal-tb;
}